.card{
    background: linear-gradient(#e66465, #9198e5);
    margin:1rem;
    padding:1rem;
    width:fit-content;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-evenly;
    block-size: fit-content;
    &__img{
        width:50px;
        height:auto;
    }
    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        row-gap:1.5rem;
        width:60vw;
        .content__name{
            grid-column:2 span;
            text-align: center;
        }
        .content__tag{
            grid-column:2 span;
            text-align: center;

        }
    }
    .extra-content{
        display: flex;
        flex-direction: column;
        height:fit-content;
        width: fit-content;
        gap:1rem;
        padding:1rem;
        .content-list{
            .content-list__title{
                background-color: blue;
            }
        }
    }
    
    
}
@media only screen and (min-width: 1024px) {
    .card{
        height: 100%;
        width:100%;
        .extra-content{

            height:100%;
            width: 100%;
    
        }
    }
}