.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ECECEC;
    position:sticky;
    top: 0;
    z-index: 5;
    .navigation__logo{
        width:50px;
        height: auto;

    }
    .navigation__faq{
        cursor: pointer;

    }
}