@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Fjalla One', sans-serif;
  
}

body{
  animation:animate 20s ease infinite;
@keyframes animate {
    0% {
        background-color: #FFB6B9;
    }
    25% {
        background-color: #FAE3D9;
    }
    
    50% {
        background-color: #BBDED6;
    }
    75% {
        background-color: #8AC6D1;
    }
    100% {
        background-color: #FFB6B9;
    }
  }
}
